[submodule "foundry_projects/lib/forge-std"]
	path = foundry_projects/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "foundry_projects/lib/openzeppelin-contracts"]
	path = foundry_projects/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "foundry_projects/lib/openzeppelin-contracts-upgradeable"]
	path = foundry_projects/lib/openzeppelin-contracts-upgradeable
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
[submodule "foundry_projects/lib/chainlink-brownie-contracts"]
	path = foundry_projects/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "foundry_projects/lib/uniswap_v2_fork/lib/forge-std"]
	path = foundry_projects/lib/uniswap_v2_fork/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
